---
title: "Downloads – Der Reinbeker"
section: downloads
description: "Hier finden Sie die aktuelle und ältere Ausgaben des Reinbekers zum Download als PDF."
permalink: /downloads/index.html
---

{% assign sortedDownloadablePrintEditions = downloadablePrintEditions | sort | reverse %}

<h1>Downloads</h1>

<h2>Gedruckte Ausgabe</h2>
<p>Hier finden Sie die <a href="https://{{ metadata.downloadshost }}/ausgaben/{{ sortedDownloadablePrintEditions | first }}">aktuelle</a> und ältere Ausgaben des Reinbekers zum Download als PDF.</p>

{% assign sortedDownloadablePrintEditionsOf2026 = sortedDownloadablePrintEditions | startsWithString:"2026" %}
{% if sortedDownloadablePrintEditionsOf2026.size > 0 %}
  <h3>2026</h3>
  <ul class="printeditions">
  {% for editionFilename in sortedDownloadablePrintEditionsOf2025 %}
      <li><a href="https://{{ metadata.downloadshost }}/ausgaben/{{ editionFilename }}"><time datetime="{{ editionFilename | validDateStringOfPrintEditionFilename }}">{{ editionFilename | descriptionOfPrintEditionFilename }}</time></a></li>
  {% endfor %}
  </ul>
{% endif %}

{% assign sortedDownloadablePrintEditionsOf2025 = sortedDownloadablePrintEditions | startsWithString:"2025" %}
{% if sortedDownloadablePrintEditionsOf2025.size > 0 %}
  <h3>2025</h3>
  <ul class="printeditions">
  {% for editionFilename in sortedDownloadablePrintEditionsOf2025 %}
      <li><a href="https://{{ metadata.downloadshost }}/ausgaben/{{ editionFilename }}"><time datetime="{{ editionFilename | validDateStringOfPrintEditionFilename }}">{{ editionFilename | descriptionOfPrintEditionFilename }}</time></a></li>
  {% endfor %}
  </ul>
{% endif %}


<h2>Mediadaten</h2>
<p>
  Unsere aktuellen Mediadaten finden Sie <a href="https://{{ metadata.downloadshost }}/dokumente/MediadatenDerReinbeker.pdf">hier</a>. 
</p>


<h2>Verteilungstermine</h2>
<p>
  Zeitungs-Anlieferung im iCalendar-/ics-Format: <a href="https://{{ metadata.downloadshost }}/termine/DerReinbeker-Austraeger.ics">Downloaden</a> oder <a href="webcal://{{ metadata.downloadshost }}/termine/DerReinbeker-Austraeger.ics">abonnieren</a>. 
</p>

